@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGreenKupaa: #137547;
    --lightGreenKupaa: #8FB339;
    --grayKupaa: #DADDD8;
    --darkGrayKupaa: #717171;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    background-color: #fff;
    color: #000;
}

.show-element {
    display: flex;
}

.hide-element {
    display: none;
}


h1 {
    font-size: 30px;
    color: #222222;
}

h2 {
    font-size: 26px;
    color: #222222;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

p {
    color: var(--darkGrayKupaa);
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
    color: var(--darkGreenKupaa);
    color: #fff;
}

.swal2-popup.swal2-toast .swal2-icon {
    background-color: var(--darkGreenKupaa);
    color: #fff;
}