body {
    background-color: #ffffff;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #8FB339;
    height: 60px;
    padding: 10px;
}

header h1 {
    font-size: 2rem;
    color: white;
    text-align: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.account-details {
    width: 48%;
    padding: 10px;
}

.account-details h2 {
    font-size: 1.5rem;
    text-align: left;
}

.image {
    background-image: url("https://i.imgur.com/967e74t.jpg");
}

footer {
    background-color: #8FB339;
    height: 50px;
    padding: 10px;
    text-align: center;
}

footer p {
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #8FB339;
    color: rgb(20, 20, 20);
}

.account-details .account-info {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
}

.account-details .info-item {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.account-details label {
    display: block;
    margin-bottom: 5px;
    align-items: center;
}

.user-profile {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile h3 {
    margin: 10px 0;
}

.user-email, .user-age {
    font-size: 14px;
    color: #888;
}

.save-delete {
    margin-bottom: 20px; 
}

.user-reports, .business-reports {
    display: block;
    margin-bottom: 10px; 
}

.welcome,
.reservations,
.payment-methods,
.my-business {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.welcome,
.reservations,
.my-business h2 {
    text-align: left;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    margin-top: 10px; 
  }
  
  input[type="submit"]:first-child {
    background-color: #e7e7e7; 
    color: rgb(0, 0, 0);
  }
  
  input[type="submit"]:last-child {
    background-color: #8b8989; 
    color: white;
  }
  
  input[type="submit"]:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }

  .show-requests,
.user-reports,
.business-reports {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #8FB339;
    color: white;
    transition: all 0.3s ease;
    display: block;
    margin-bottom: 10px;
}

.show-requests:hover,
.user-reports:hover,
.business-reports:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.action-cell {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

.left-buttons a,
.right-buttons a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    background-color: #8FB339;
    border-radius: 5px;
}

.left-buttons a:hover,
.right-buttons a:hover {
    background-color: #6d8f24;
}